@import url("components/header.css");
@import url("components/search.css");
@import url("components/recipes.css");

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0 100px 0 100px;
}