.tags {
    display: flex;
}

.tag {
    position: relative;
}

.tag:not(:last-of-type) {
    margin-right: calc(20rem / 16);
}

.ingredients, .appliances, .utensils {
    width: auto;
}

.tag_button {
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-size: calc(18rem / 16);
    font-weight: 700;
    padding: calc(24rem / 16) calc(20rem / 16);
    transition: all 0.3s ease;
}

.tag_button_icon {
    margin-left: calc(35rem / 16);
}

#ingredient_button {
    background-color: hsla(216, 92%, 58%, 1);
    box-shadow:0px 0px 0px 5px hsla(216, 92%, 58%, 1) inset;
}

#ingredient_button:hover, #ingredient_button:focus {
    background-color: white;
    color: hsla(216, 92%, 58%, 1);
}

#appliance_button {
    background-color: hsla(152, 60%, 63%, 1);
    box-shadow:0px 0px 0px 5px hsla(152, 60%, 63%, 1) inset;
}

#appliance_button:hover, #appliance_button:focus {
    background-color: white;
    color: hsla(152, 60%, 63%, 1);
}

#utensil_button {
    background-color: hsla(6, 81%, 63%, 1);
    box-shadow:0px 0px 0px 5px hsla(6, 81%, 63%, 1) inset;
}

#utensil_button:hover, #utensil_button:focus {
    background-color: white;
    color: hsla(6, 81%, 63%, 1);
}

.tag_list_container {
    border-radius: 5px;
    padding: calc(20rem / 16);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#ingredient_list_container {
    background-color: hsla(216, 92%, 58%, 1);
}

#appliance_list_container {
    background-color: hsla(152, 60%, 63%, 1);
}

#utensil_list_container {
    background-color: hsla(6, 81%, 63%, 1);
}

.tag_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.tag_text {
    color: white;
    font-size: calc(18rem / 16);
    width: 30%;
    padding: 5px;
    font-weight: 400;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#ingredient_list_container .tag_text:hover, #ingredient_list_container .tag_text:focus {
    background-color: hsla(216, 92%, 68%, 1);
}

#appliance_list_container .tag_text:hover, #appliance_list_container .tag_text:focus {
    background-color: hsla(152, 60%, 73%, 1);
}

#utensil_list_container .tag_text:hover, #utensil_list_container .tag_text:focus {
    background-color: hsla(6, 81%, 73%, 1);
}

.tag_input_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag_input {
    font-family: 'Lato', sans-serif;
    font-size: calc(18rem / 16);
    font-weight: 700;
    color: white;
    background: none;
    border: none;
    width: 90%;
}

.tag_input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.tag_input_icon {
    color: white; 
    font-size: calc(20rem / 16);
    border: none;
    background: none;
    box-shadow: none;
}